{% extends 'base.html.twig' %}

{% block styles %}

{% endblock %}

{% block pagecontent %}
	<section id="subpage">
		<div class="container">
			<div class="row">
				<div class="b-container">
                     <h1 class="banner-heading animated fadeInUp">restaurant panel</h1>
                 </div>
			</div>

			<div class="row">
				<div class="col-md-12 animated fadeInUp">
					<div id="admin-panel">
						<div role="tabpanel">
						  		<!-- Nav tabs -->
						 	<ul class="nav nav-tabs" role="tablist">
							    <li role="presentation" class="active"><a href="#dashboard" aria-controls="dashboard" role="tab" data-toggle="tab">Dashboard</a></li>
							    <li role="presentation"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">Orders</a></li>
							    <li role="presentation"><a href="#customers" aria-controls="customers" role="tab" data-toggle="tab">Customer Service</a></li>
							    <li role="presentation"><a href="#food" aria-controls="food" role="tab" data-toggle="tab">Food</a></li>
						  	</ul>

						  	<!-- Tab panes -->
						  	<div class="tab-content">
							    <div role="tabpanel" class="tab-pane active" id="dashboard">
							    	<div class="col-md-12 panel-box">
							    		<div class="col-md-4">
							    			<div class="dashboard-box text-left">
							    				<h4>Dashboard</h4>
							    			</div>
							    		</div>
								    		
							    	</div>
							    </div>
							    <!-- dashboard ends -->
							    <!-- orders starts -->
							    <div role="tabpanel" class="tab-pane" id="orders">
							    	<div class="col-md-12 order-box panel-box">
							    		<div class="col-md-6 single">
							    			<div class="single-item ">
							    				<h5 class="item-title">Latest</h5>

							    				<table class="table table-bordered table-striped">
							    					<tr>
							    						<td>Order</td>
							    						<td>Data</td>
							    						<td>Status</td>
							    						<td>Action</td>
							    					</tr>
							    					{% for order in orders %}
														<tr>
															<td>{{ order.orderid }}</td>
															<td>{{ order.dateordered|date('d-m-Y')}}</td>
															<td>{{ order.status }}</td>
															<td><div class="btn-group" role="group">
							    							<button class="btn btn-danger btn-sm"><i class="fa fa-close"></i></button>
							    							<button class="btn btn-info btn-sm"><i class="fa fa-pencil"></i></button>
							    						</div></td>
														</tr>
							    					{% endfor %}
							    				</table>

							    				<div class="clearfix"></div>
							    			</div>
							    		</div>
							    		<div class="col-md-6 single">
							    			<div class="single-item ">
							    				<h5 class="item-title"></h5>
							    			</div>
							    		</div>
							    	</div>
							    </div>
							    <div role="tabpanel" class="tab-pane" id="food">
							    	<div class="col-md-12 food-box panel-box">
							    		<div class="col-md-6 single">
							    			<div class="single-item bg-default text-left">
							    				<label for="jobname">Food Search</label>
							    				<div class="searchfield">
							    					<input type="text" name="jobname" id="jobname" class="form-control">
							    					<button id="add-a-food" class="btn btn-info"><i class="fa fa-plus"></i></button>
							    				</div>
							    				<div id="emptyfood" class="alert alert-danger">No match found!</div>
							    				<select multiple class="form-control" id="foodsearchresults" placeholder="Search for food"></select>
							    			</div>
							    		</div>
							    		<div class="col-md-6 single">
							    			<div id="foodalert" class="alert alert-info"></div>
							    			<div class="foodactions">
							    				<h3 class="title">Options</h3>
							    				<p class="resta"><b>Restaurant : </b> <span class="val"></span></p>
							    				<p class="name"><b>Food name : </b> <span class="val"></span></p>
							    				<p class="amount"><b>Amount : </b> <span class="val"></span></p>

							    				<div class="group-btn" id="foodactions">
							    					<button class="btn btn-danger" data-intent="delete"><i class="fa fa-trash"></i> Delete</button>
							    					<button class="btn btn-default" data-intent="edit"><i class="fa fa-pencil"></i> Edit</button>
							    				</div>
							    			</div>

											<!-- add new food when search returns empty -->
							    			<div id="newfoodbox">
							    				<h3 class="title">Adding New Food</h3>
												<form action="" method="post" class="text-left" id="add-food-form">
													<div class="form-group">
														<label for="newfoodname">Food Name</label>
														<input type="text" class="form-control input-sm" name="food[name]" id="newfoodname">
													</div>
													<div class="form-group">
														<label>Amount</label>
														<input type="text" class="form-control input-sm" name="food[amount]" id="foodamount">
													</div>
													<div class="form-group" id="vegetarian">
														<label>Vegetarian ? </label>
														<label class="radio-inline">
															<input type="radio" value="1" name="food[vegetarian]"> Yes
														</label>
														<label class="radio-inline">
															<input type="radio"  value="0" name="food[vegetarian]"> No
														</label>
													</div>
													<div class="form-group" id="available">
														<label>Available Now ? </label>
														<label class="radio-inline">
															<input type="radio" value="1" name="food[available]" > Yes
														</label>
														<label class="radio-inline">
															<input type="radio"  value="0" name="food[available]"> No
														</label>
													</div>
													<div class="form-group">
														<div class="col-md-12 text-right">
															 <div class="row">
															 	<button class="btn btn-primary" type="submit">Add Food</button>
															 </div>
														</div>
													</div>
													<input type="hidden" name="food['restaurant']" id="restaurantlist" value="{{ userid }}">
												</form>
							    			</div>
							    		</div>
							    	</div>
							    </div>
						  	</div>
						</div>
					</div>
				</div>
			</div>
				
		</div>
	</section>
	
{% endblock %}

{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/assets/js/xcharts.min.js"></script>
	<script type="text/javascript" src="/assets/js/restaurant-dashboard-actions.js"></script>
{% endblock %}