{% extends 'base.html.twig' %}

{% block pagecontent %}
	<section id="subpage">
		<div class="container">
			<div class="row">
				<div class="b-container">
                     <h1 class="banner-heading animated fadeInUp">Login</h1>
                 </div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="auth-box">

						{% if error %}
							<div class="alert alert-danger">We can't match your details with our records.  Pleas check your username/password again.</div>
						{% endif %}
						<div class="col-md-4 col-md-offset-4 col-xs-12">

							<form action="" method="post">
								<div class="form-group">
									<label for="username">Username {{ order }}</label>
									<input type="text" name="login[username]" id="username" class="form-control">
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" name="login[password]" id="password" class="form-control">
								</div>

								

								<button class="btn btn-success btn-block">Login</button>
								<a href="">Forgotten password?</a>

								<p class="info">You need an account to place an order.</p>
								<a href="/page/signup" class="btn btn-danger btn-block">Sign Up</a>
							</form>
						</div>
					</div>
				</div>
			</div>
				
		</div>
	</section>
	
{% endblock %}